@model IEnumerable<PrjPropertyRentalManagementWebSite.Models.Apartment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AoartmentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bedrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenent.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AoartmentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bedrooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tenent.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApartmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApartmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApartmentID })
        </td>
    </tr>
}

</table>
